<style>
    .modal-dialog {
        width: 70% !important;
    }
</style>
<style>
    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    }
    /* =============================================================
      GENERAL STYLES
    ============================================================ */
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
    }

    .pad-top-botm {
        padding-bottom: 40px;
        padding-top: 22px;
    }

    h4 {
        text-transform: uppercase;
    }
    /* =============================================================
      PAGE STYLES
    ============================================================ */

    .contact-info span {
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }

    .contact-info hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .client-info {
        font-size: 15px;
    }

    .ttl-amts {
        text-align: right;
        padding-right: 50px;
    }

    .containers {
        padding-left: 45px;
        padding-right: 45px;
    }
</style>

<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span>Item Fill Rate</strong>
        </div>
        <div class="panel-body">
            <form name="form_constraints" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-invalid-equal">
                <div class="form-group col-md-12 clear-both">

                    <div class="form-group col-md-3">
                        <label for="site-name">Warehouses</label><br>
                        <select class="form-control" id="site-name" ng-model="srch.Warehouseid">
                            <option value="">---SELECT---</option>
                            <option value="{{warehouses.Warehouseid}}" ng-repeat="warehouses in warehouse "> {{warehouses.WarehouseName}}</option>

                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="site-name">Select Date Range</label><br />
                        <div class="form-group">
                            <div class='input-group date'>
                                <input name="daterange" type='text' title="Select Date" class="form-control date-picker" />
                                <span class="input-group-addon ">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="site-name">Get Report</label><br />
                        <button type="button" class="btn btn-ar btn-primary" ng-click="exportData(Demanddata)">Get Report</button>
                    </div>

                </div>





            </form>
        </div>
        <div class="row">
            <div class="col">
                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>
            </div>

        </div>
        <!--<div id="chartContainer" style="height: 300px; width: 100%;">
        </div>-->
    </section>
</div>

