<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AuthContext" connectionString="Data Source=M-DEV-PC-11;Initial Catalog=AngularJSAuth; Uid=sa; Password=sa@123;" providerName="System.Data.SqlClient" />
    <!--   <add name="AuthContext" connectionString="Data Source=184.168.47.17;Initial Catalog=akhileshgandhi_time;Persist Security Info=True;User ID=time;Password=More@Yeahs" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
</configuration>