<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span>Tax Groups
            </strong>
        </div>
        <br />
        <div>
            <button class="btn btn-primary" ng-click="open()">
                <span class="glyphicon glyphicon-plus"> </span> New Tax Group
            </button>
                 </div>
        <br />
       
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Tax Group Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('TGrpName')"
                                  data-ng-class="{active: row == 'TGrpName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-TGrpName')"
                                  data-ng-class="{active: row == '-TGrpName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                           Tax Group Alias Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('TGrpAlias')"
                                  data-ng-class="{active: row == 'TGrpAlias'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-TGrpAlias')"
                                  data-ng-class="{active: row == '-TGrpAlias'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                           Group Description
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('TGrpDiscription')"
                                  data-ng-class="{active: row == 'TGrpDiscription'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-TGrpDiscription')"
                                  data-ng-class="{active: row == '-TGrpDiscription'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order(' CreatedDate')"
                                  data-ng-class="{active: row == ' CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('- CreatedDate')"
                                  data-ng-class="{active: row == '- CreatedDate'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            view
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Delete
                        </div>
                    </th>
                  
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.TGrpName}}</td>
                    <td>{{trade.TGrpAlias}}</td>
                    <td>{{trade.TGrpDiscription}}</td>
                    <td>{{trade.CreatedDate | date:'medium'}}</td>
                    <td><button class="btn-sm btn-primary" ng-click="view(trade)">View Detail</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="opendelete(trade,$index)">Remove</button> </td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>   
    </section>
</div>
<!-- /site tiles -->
<!-- new site modal -->

<script type="text/ng-template" id="myaddTaxGroupModal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Add  Tax Group</h4>
        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group" >
                <label for="site-name"> Tax Group Name:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="TaxGroupData.TGrpName"  placeholder="Enter Tax name" ng-required />
            </div>
            <div class="form-group">
                <label for="site-name"> Tax Alias:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="TaxGroupData.TGrpAlias" placeholder="Enter Tax name" ng-required />
            </div>
            <div class="form-group">
                <label for="site-name"> Description:</label><br />
                <textarea id="site-name" class="form-control" rows="3" required="" ng-model="TaxGroupData.TGrpDiscription" placeholder="Enter Tax description"></textarea>
            </div>
            <div class="form-group">
                <label for="site-name"> Tax Types:</label>
                <div ng-dropdown-multiselect="" options="taxmasters" selected-model="examplemodel" extra-settings="examplesettings"></div>
            </div>
            <div class="form-group">
                <label for="site-name">  Active:</label><br />
                <input id="site-name" type="checkbox" class="form-control" ng-model="TaxGroupData.Active" />
            </div>

            <!--<div class="form-group">
                <div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" extra-settings="example14settings"></div>
            </div>
            <option value="{{WareHouse.Warehouseid}}" ng-repeat="WareHouse in warehouses|filter:{Cityid:WhCategoryData.Cityid} "> {{WareHouse.WarehouseName}}</option>
            <select name="Taxmasters[]" class="selectpicker" ng-model="TaxGroupData" multiple >
            <option value="{{taxmaster}}" ng-repeat="taxmaster in taxmasters" ng-click="showDetails = ! showDetails"> {{taxmaster.TaxName}}</option>
        </select>
            <div>
            <select name="Taxmaster[]" id="done" class="form-control" multiple data-done-button="true"  ng-model="TaxGroupDatas">
                <option  ng-repeat="taxmaster in taxmasters" value="{{taxmaster.TaxID}}" >{{taxmaster.TaxName}}</option>
            </select>
            <div ng-dropdown-multiselect="" options="taxmasters" selected-model="TaxGroupData" extra-settings=""></div>
            <div class="btn-group bootstrap-select show-tick">
                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="tokens" title="Nothing selected" aria-expanded="false">
                    <span class="filter-option pull-left">Nothing selected</span>&nbsp;
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu open" style="max-height: 225px; overflow: hidden; min-height: 42px;">
                    <div class="bs-searchbox">
                        <input type="text" class="form-control" autocomplete="off">
                    </div>
                    <ul class="dropdown-menu inner" role="menu" style="max-height: 171px; overflow-y: auto; min-height: 0px;"  data-ng-repeat="taxmaster in taxmasters" >
                        <li  class="glyphicon glyphicon-ok check-mark">
                            {{ taxmaster.TaxName }}
                        </li>
                    </ul>
                </div>
            </div>
             <table class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="th">Tax Name</div>
                        </th>
                        <th>
                            <div class="th">IsVisible </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="taxmaster in taxmasters">
                        <td> <label id={{taxmaster.TaxID}} ng-model="category.CategoryName">{{taxmaster.TaxName}}</label></td>
                        <td><input id={{taxmaster.TaxID}} type="checkbox" value="" class="form-control" ng-model="taxmaster.IsVisible" /></td>
                    </tr>
                </tbody>
            </table>
                </div>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="AddTaxGroup(TaxGroupData)">Save</button>
        </div>
    </form>
</script>



<!--Update-->
<script type="text/ng-template" id="myTaxGroupModalPut.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit  tax group</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <label for="site-name"> Tax Group Name:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="TaxGroupData.TGrpName" placeholder="Enter Tax name" ng-required />
            </div>
            <div class="form-group">
                <label for="site-name"> Tax Alias:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="TaxGroupData.TGrpAlias" placeholder="Enter Tax alias name" ng-required />
            </div>
            <div class="form-group">
                <label for="site-name"> Description:</label><br />
                <textarea id="site-name" class="form-control" rows="3" required="" ng-model="TaxGroupData.TGrpDiscription" placeholder="Enter Tax description"></textarea>
            </div>
            <div class="form-group">
                <label for="site-name"> Tax Types:</label>
                <div ng-dropdown-multiselect="" options="taxmasters" selected-model="examplemodel" extra-settings="examplesettings"></div>
            </div>
            <div class="form-group">
                <label for="site-name">  Active:</label><br />
                <input id="site-name" type="checkbox" class="form-control" ng-model="TaxGroupData.Active" />
            </div>

                 </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="PutTaxGroup(TaxGroupData)">Save</button>
        </div>
    </form>
</script>


<!-- /new site modal -->

<script type="text/ng-template" id="myModaldeleteTaxGroup.html">

    <form name="myFormTaskTypeModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete  Tax Type</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to Delete?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="deleteTaxGroup(TaxGroupData,$index)">Yes</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="myModalviewTaxGroup.html">

    <form name="myFormTaskTypeModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Tax Group Details</h4>
        </div>
        <div class="modal-body">
            

            <div class="form-group">
                <label for="site-name">Tax Group Name </label><br />
                <input id="site-name" type="text" class="form-control" ng-model="TaxGroupData.TGrpName" disabled />
            </div>
            <div class="form-group">
                <label for="site-name"> Tax Alias:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="TaxGroupData.TGrpAlias" disabled />
            </div>
            <div class="form-group">
                <label for="site-name"> Description:</label><br />
                <textarea id="site-name" class="form-control" rows="3" required="" ng-model="TaxGroupData.TGrpDiscription" disabled></textarea>
            </div>
            <div class="form-group">
                <label for="site-name">  Active:</label><br />
                <input id="site-name" type="checkbox" class="form-control" ng-model="TaxGroupData.Active" disabled/>
            </div>
            <table class="table table-bordered table-striped table-responsive ">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Tax Name
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click="order('TaxName')"
                                      data-ng-class="{active: row == 'TaxName'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click="order('-TaxName')"
                                      data-ng-class="{active: row == '-TaxName'}"></span>
                            </div>
                        </th>

                        <th>
                            <div class="th">
                                Tax percent 
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click="order('TPercent')"
                                      data-ng-class="{active: row == 'TPercent'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click="order('-TPercent')"
                                      data-ng-class="{active: row == '-TPercent'}"></span>
                            </div>
                        </th>
                      </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="taxdetail in taxdetails">
                        <td>{{taxdetail.TaxName}}</td>
                        <td>{{taxdetail.TPercent}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="cancel()" data-dismiss="modal">Yes</button>
        </div>
    </form>
</script>


<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 5
    });
  });
</script>
