<head>
    <style>
        #dragandrophandler {
            border: 2px dashed #92AAB0;
            width: 650px;
            height: 200px;
            color: #92AAB0;
            text-align: center;
            vertical-align: middle;
            padding: 10px 0px 10px 10px;
            font-size: 200%;
            display: table-cell;
        }

        .progressBar {
            width: 200px;
            height: 22px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            display: inline-block;
            margin: 0px 10px 5px 5px;
            vertical-align: top;
        }

            .progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px; /* same as #progressBar height if we want text middle aligned */
                width: 0;
                background-color: #0ba1b5;
                border-radius: 3px;
            }

        .statusbar {
            border-top: 1px solid #A9CCD1;
            min-height: 25px;
            width: 700px;
            padding: 10px 10px 0px 10px;
            vertical-align: top;
        }

            .statusbar:nth-child(odd) {
                background: #EBEFF0;
            }

        .filename {
            display: inline-block;
            vertical-align: top;
            width: 250px;
        }

        .filesize {
            display: inline-block;
            vertical-align: top;
            color: #30693D;
            width: 100px;
            margin-left: 10px;
            margin-right: 5px;
        }

        .abort {
            background-color: #A8352F;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            display: inline-block;
            color: #fff;
            font-family: arial;
            font-size: 13px;
            font-weight: normal;
            padding: 4px 15px;
            cursor: pointer;
            vertical-align: top;
        }
    </style>
</head>
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span> Current Stock
            </strong>
        </div>
        <br />
       <div>
           <button class="btn btn-primary" ng-click="toggle()"> <span class="glyphicon glyphicon-plus"> </span>Upload Current stock</button>
           <button class="btn-sm btn-primary" ng-click="exportData1()"> <span class="glyphicon glyphicon-plus"> </span> Export full Current stock</button>
           <!--<button class="btn-sm btn-primary" ng-click="exportData()"> <span class="glyphicon glyphicon-plus"> </span> Export Current List</button>-->
       </div>
        <br />
        <div id="typography" ng-hide="uploadshow">

            <div class="well">
                <div id="dragandrophandler">Drag &amp; Drop Files Here</div>
                <br><br>
                <!--<div id="status1"></div>-->
            </div>

        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="form-group col-md-12">
                        <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStores.length}}/{{stores.length}} entries
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-responsive" id="exportable">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            ItemNumber
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('SellingSku')"
                                  data-ng-class="{active: row == 'SellingSku'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-SKUCode')"
                                  data-ng-class="{active: row == '-SellingSku'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            ItemName
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('ItemName')"
                                  data-ng-class="{active: row == 'ItemName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-ItemName')"
                                  data-ng-class="{active: row == '-ItemName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            CurrentInventory
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CurrentInventory')"
                                  data-ng-class="{active: row == 'CurrentInventory'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CurrentInventory')"
                                  data-ng-class="{active: row == '-CurrentInventory'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Warehouse Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('WarehouseName')"
                                  data-ng-class="{active: row == 'WarehouseName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-WarehouseName')"
                                  data-ng-class="{active: row == '-WarehouseName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Barcode
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Barcode')"
                                  data-ng-class="{active: row == 'Barcode'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Barcode')"
                                  data-ng-class="{active: row == '-Barcode'}"></span>
                        </div>
                    </th>
                    <!--<th>
                        <div class="th">
                            BarcodeImage
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('BarcodeImage')"
                                  data-ng-class="{active: row == 'BarcodeImage'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-BarcodeImage')"
                                  data-ng-class="{active: row == '-BarcodeImage'}"></span>
                        </div>
                    </th>-->
                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreationDate')"
                                  data-ng-class="{active: row == 'CreationDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreationDate')"
                                  data-ng-class="{active: row == '-CreationDate'}"></span>
                        </div>
                    </th> 
                    <th>
                        <div class="th">
                            Manual Push
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreationDate')"
                                  data-ng-class="{active: row == 'CreationDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreationDate')"
                                  data-ng-class="{active: row == '-CreationDate'}"></span>
                        </div>
                    </th> 
                    <th>
                        <div class="th">
                            Stock History
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreationDate')"
                                  data-ng-class="{active: row == 'CreationDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreationDate')"
                                  data-ng-class="{active: row == '-CreationDate'}"></span>
                        </div>
                    </th> 
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.ItemNumber}}</td>
                    <td>{{trade.ItemName}}</td>
                    <td>{{trade.CurrentInventory}}</td>
                    <td>{{trade.WarehouseName}}</td>
                    <td>{{trade.Barcode}}</td>
                    <!--<td>{{trade.BarcodeImage}}</td>-->
                    <td>{{trade.CreationDate| date:'medium'}}</td>
                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Manual Edit</button> </td>
                    <td><button class="btn-sm btn-primary" data-toggle="modal" data-target="#oldstock" ng-click="oldStock(trade)">Stock History</button></td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>
<!--price model-->
<style>
    .w3-red {
        color: #fff !important;
        background-color: #171616  !important;
    }

    .w1-red {
        color: #fff !important;
        background-color: #4c4948 !important;
    }
</style>
<div class="modal fade " id="oldstock" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header w3-red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="text-align: center;">Item Stock History</h3>
            </div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr class="w1-red">

                        <th>
                            <div class="th">
                                Item Name
                               
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                ItemName
                             
                            </div>
                        </th>
                        <th>
                            <div class="th">
                               Manual Inventory
                            </div>
                        </th>
                        <th>
                            <div class="th">
                               PO Receive
                            </div>
                        </th>
                        <th>
                            <div class="th">
                              Order Sale
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Damage Inventory
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Purchase Return
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Order Cancel In
                            </div>
                        </th>
                        <th>
                            <div class="th">
                             Inventory
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                OderId/PoId
                            </div>
                        </th>

                        <th>
                            <div class="th">
                                 Date
                                
                            </div>
                        </th>


                    </tr>

                </thead>

                <tbody>
                    <tr dir-paginate="trade in OldStockData|itemsPerPage:itemsPerPage" total-items="total_count">
                         <!--<tr data-ng-repeat="trade in customers" ng-include="getTemplate(trade)">-->
                        <td>{{trade.ItemNumber}}</td>
                        <td>{{trade.ItemName}}</td>
                        <td id ="trade.id" data-toggle="tooltip" title="Hooray!">{{trade.ManualInventoryIn}}({{trade.ManualReason}})</td>
                        <td>+{{trade.InventoryIn}}</td>
                        <td>-{{trade.InventoryOut}}</td>
                        <td>-{{trade.DamageInventoryOut}}</td>
                        <td>-{{trade.PurchaseInventoryOut}}</td>
                        <td>+{{trade.OrderCancelInventoryIn}}</td>
                        <td><span class="label label-info">{{trade.TotalInventory}}</span></td>
                        <td>{{trade.OdOrPoId}}</td>
                        <td>{{trade.CreationDate| date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
           

            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true"
                                     on-page-change="oldStocks(newPageNumber)">
                //get method call every time when page changes
            </dir-pagination-controls>
       
            <div class="modal-footer w3-red">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--for manual inventory-->
<script type="text/ng-template" id="myInventoryModalPut.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Add Manual Qty In CurrentStock</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <label for="site-name"> Manual In qty:</label><br />
                <button type="button" ng-click="updatelineitem(inventoryData)">-</button>
                <input type="number" ng-disabled="xy" ng-model="inventoryData.CurrentInventory" readonly />
               
                <button type="button" ng-click="updatelineitem1(inventoryData)">+</button>
            </div>

                <div class="form-group">
                    <label for="site-name"> Reason For entry:</label><br />
                    <input id="site-name" class="form-control" rows="3" required="" ng-model="inventoryData.ManualReason" placeholder="Enter Reason" />
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Putinventory(inventoryData)">Save</button>
        </div>
    </form>
</script>
