<style>
    /* =============================================================
      GENERAL STYLES
    ============================================================ */
    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
    }

    .pad-top-botm {
        padding-bottom: 40px;
        padding-top: 22px;
    }

    h4 {
        text-transform: uppercase;
    }
    /* =============================================================
      PAGE STYLES
    ============================================================ */

    .contact-info span {
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }

    .contact-info hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .client-info {
        font-size: 15px;
    }

    .ttl-amts {
        text-align: right;
        padding-right: 50px;
    }

    .containers {
        padding-left: 45px;
        padding-right: 45px;
    }

    hr {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>
<style>
    .modal-dialog {
        width: 70% !important;
    }
</style>
<style>
    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }

        #printThisElement {
            display: block !important;
        }

        #page-break {
            display: block;
            page-break-before: always;
        }
    }

    #printThisElement {
        display: none;
    }

    /* =============================================================
      GENERAL STYLES
    ============================================================ */
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
    }

    .pad-top-botm {
        padding-bottom: 40px;
        padding-top: 22px;
    }

    h4 {
        text-transform: uppercase;
    }
    /* =============================================================
      PAGE STYLES
    ============================================================ */

    .contact-info span {
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }

    .contact-info hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .client-info {
        font-size: 15px;
    }

    .ttl-amts {
        text-align: right;
        padding-right: 50px;
    }

    .containers {
        padding-left: 45px;
        padding-right: 45px;
    }

    .box-size {
        font-size: 16px !important;
        height: 30px;
        width: 50%;
    }
</style>

<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span>Bank Currency
            </strong>
        </div>
        <br />



        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">S/N</div></th>
                    <th>
                        <div class="th">
                            Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('TotalAmount')"
                                  data-ng-class="{active: row == 'TotalAmount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-TotalAmount')"
                                  data-ng-class="{active: row == '-TotalAmount'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Total Withdrawl Amount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('TotalAmount')"
                                  data-ng-class="{active: row == 'TotalAmount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-TotalAmount')"
                                  data-ng-class="{active: row == '-TotalAmount'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Mobile
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Created date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Stock_status')"
                                  data-ng-class="{active: row == 'Stock_status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Stock_status')"
                                  data-ng-class="{active: row == '-Stock_status'}"></span>
                        </div>
                    </th>
                 
                    <th>
                        <div class="th">
                            View
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Stock_status')"
                                  data-ng-class="{active: row == 'Stock_status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Stock_status')"
                                  data-ng-class="{active: row == '-Stock_status'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Status
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Stock_status')"
                                  data-ng-class="{active: row == 'Stock_status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Stock_status')"
                                  data-ng-class="{active: row == '-Stock_status'}"></span>
                        </div>
                    </th>
                    
                    <!--<th>
                        <div class="th">
                            Save
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Stock_status')"
                                  data-ng-class="{active: row == 'Stock_status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Stock_status')"
                                  data-ng-class="{active: row == '-Stock_status'}"></span>
                        </div>
                    </th>-->
                    <th>
                        <div class="th">
                          View Attachment
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Stock_status')"
                                  data-ng-class="{active: row == 'Stock_status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Stock_status')"
                                  data-ng-class="{active: row == '-Stock_status'}"></span>
                        </div>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in BankStockCurrencys">
                    <td>{{ $index+1 }}</td>
                    <td>{{trade.Name}}</td>
                    <td>{{trade.Withdrawl}}</td>
                    <td>{{trade.Mobile}}</td>
                   
                    <td>{{trade.CreatedDate | date:'medium'}}</td>

                    <td><label for="uploadAdvertisements">Upload Image:</label>
                    <input class="btn btn-primary"  type="file" nv-file-select="" uploader="uploader" />
                    <div ng-repeat="item in uploader.queue">
                    <button type="button" class="btn btn-success btn-xs"    ng-click="item.upload()" ng-model="item.FileUrl" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    </div>
                        <button type="button" class="btn btn-ar btn-primary" style="margin-left:400px" ng-click="Add(trade)">Save</button>
                    </td>
                    <td>{{trade.status}}</td>
                    <!--<td><button type="button" class="btn btn-ar btn-primary" ng-click="Add(trade)">Save</button></td>-->
                    <td><button type="button" class="btn btn-ar btn-primary" data-toggle="modal" data-target="#myModal" ng-click="view(trade.CurrencyBankSettleId)">View</button></td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
   
</div>
    <!--<!--<img src="../../UploadedLogos/FrameWithBackground.png" />-->
    <div class="modal fade" id="myModal" role="dialog">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Preview</div>
                    <div class="panel-body" style="background-image: url(../../UploadedLogos/MobileImage.png) ; height:500px; width:300px">

                        <div class="modal-body">
                            <p>Some text in the modal.</p>

                         
                            <div class="row col-md-12" style="padding-left: 27px">
                                <img alt="" src="{{testk}}" >
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

