<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<style>
    .ui-autocomplete-input {
        border: none;
        font-size: 14px;
        /*width: 300px;
    height: 24px;*/
        margin-bottom: 5px;
        padding-top: 2px;
        border: 1px solid #DDD !important;
        padding-top: 0px !important;
        z-index: 1511;
        position: relative;
    }

    .ui-menu .ui-menu-item a {
        font-size: 12px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1510 !important;
        float: left;
        display: none;
        min-width: 160px;
        width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    #modalIns {
        width: 500px;
    }
</style>
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span> Offers
            </strong>
        </div>

        <div class="panel-body">
            <div class="table-filters">
                <div class="row ">
                    <button class="btn btn-primary" ng-click="open()">
                        <span class="glyphicon glyphicon-plus">
                        </span> Add New Offer
                    </button>
                    <div class="col-sm-5 col-xs-6 pull-right">
                        <form> <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"> </form>
                    </div>
                    <div class="col-sm-2 col-xs-6 filter-result-info pull-right">
                        <span>
                            Showing {{stores.length}} entries
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Offer Code
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Code')"
                                  data-ng-class="{active: row == 'Code'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Code')"
                                  data-ng-class="{active: row == '-Code'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Offer Type
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Discount')"
                                  data-ng-class="{active: row == 'Discount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Discount')"
                                  data-ng-class="{active: row == '-Discount'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Offer Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('MinAmount')"
                                  data-ng-class="{active: row == 'MinAmount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-MinAmount')"
                                  data-ng-class="{active: row == '-MinAmount'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Description
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Description')"
                                  data-ng-class="{active: row == 'Description'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Description')"
                                  data-ng-class="{active: row == '-Description'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Discount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>


                    <th>
                        <div class="th">
                            Min Amount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Source Item
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Free Item
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Discount Type
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order(' CreatedDate')"
                                  data-ng-class="{active: row == ' CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('- CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Item Image
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('ItemImage')"
                                  data-ng-class="{active: row == 'ItemImage'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-ItemImage')"
                                  data-ng-class="{active: row == '-ItemImage'}"></span>
                        </div>
                    </th>




                    <th>
                        <div class="th"></div>
                        Edit

                    </th>
                    <th>
                        <div class="th"></div>
                        Delete

                    </th>
                </tr>

            </thead>

            <tbody>


                <tr data-ng-repeat="trade in currentPageStores|filter:searchKeywords">
                    <td>{{trade.OfferCode}}</td>
                    <td>{{trade.OfferType}}</td>
                    <td>{{trade.OfferName}}</td>
                    <td>{{trade.Description}}</td>
                    <td>{{trade.Discount}}</td>
                    <td>{{trade.MinAmount}}</td>
                    <td>{{trade.SourceItemName}}</td>
                    <td>{{trade.FreeItemName}}</td>
                    <td>{{trade.DiscountType}}</td>
                    <td>{{trade.CreatedDate| date:'medium'}}</td>

                    <td>
                        <div class="form-group">
                            <img alt="" src="{{trade.ItemImage}}" class="img-square img80_80">
                        </div>
                    </td>

                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="opendelete(trade,$index)">Remove</button> </td>

                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>

<script type="text/ng-template" id="myADDModal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Create Offer </h4>

        </div>

        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Offer Code :</label><br />
                    <input id="site-name" type="text" class="form-control" ng-model="saveData.OfferCode" placeholder="Enter Code" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">Offer Type :</label><br />
                    <select id="site-name" class="form-control" ng-model="saveData.OfferType">
                        <option value="" hidden>----Select Offer Type----</option>
                        <option>Coupon Offer</option>
                        <option>CashBack Offer</option>
                        <option>Bogo Offer</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="site-name">Offer Name :</label>
                <input id="site-name" type="text" class="form-control" ng-model="saveData.OfferName" placeholder="Enter Name" />
            </div>
            <div class="form-group">
                <label for="site-name">Description :</label>
                <input id="site-name" type="text" maxlength="60" class="form-control" ng-model="saveData.Description" placeholder="Enter Description" />
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Discount :</label><br />
                    <input id="site-name" type="number" class="form-control" ng-model="saveData.Discount" placeholder="Enter Discount" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">Minimum Amount :</label><br />
                    <input id="site-name" type="number" class="form-control" ng-model="saveData.MinAmount" placeholder="Enter Minmum Amount" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Source Item Name :</label>
                    <input id="tags" ng-keyup="complete()" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope" ng-model="saveData.SourceItemName" placeholder="Source Item Name" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">Free Item Name :</label>
                    <input id="tags1" type="text" ng-keyup="completed()" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope" ng-model="saveData.FreeItemName" placeholder="Free Item Name" />

                </div>
            </div>
            <div class="form-group">
                <label for="site-name">Discout Type :</label>
                <select id="site-name" class="form-control" ng-model="saveData.DiscountType">
                    <option value="" hidden>----Select Discount Type----</option>
                    <option>Percentage</option>
                    <option>Amount</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Start Date :</label><br />
                    <input id="site-name" type="date" class="form-control" aria- ng-model="saveData.StartDate" placeholder="Enter Start Date" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">End Date : </label><br />
                    <input id="site-name" type="date" class="form-control" ng-model="saveData.EndDate" placeholder="Enter End Date" />
                </div>
            </div>


            <div class="form-group">
                <label for="uploadAdvertisements">Upload Image:</label>
                <input class="btn btn-primary" id="file" type="file" nv-file-select="" uploader="uploader" />
                <div ng-repeat="Item in uploader.queue">
                    <button type="button" class="btn btn-success btn-xs" ng-click="Item.upload()" ng-model="Item.FileUrl" ng-disabled="Item.isReady || Item.isUploading || Item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Add(saveData)">Save</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="myputmodal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit Offer </h4>

        </div>

        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Offer Code :</label><br />
                    <input id="site-name" type="text" class="form-control" ng-model="saveData.OfferCode" placeholder="Enter Code" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">Offer Type :</label><br />
                    <select id="site-name" class="form-control" ng-model="saveData.OfferType">
                        <option value="" disabled>----Select Offer Type----</option>
                        <option>Coupon Offer</option>
                        <option>CashBack Offer</option>
                        <option>Bogo Offer</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="site-name">Offer Name :</label>
                <input id="site-name" type="text" class="form-control" ng-model="saveData.OfferName" placeholder="Enter Name" />
            </div>
            <div class="form-group">
                <label for="site-name">Description :</label>
                <input id="site-name" type="text" maxlength="60" class="form-control" ng-model="saveData.Description" placeholder="Enter Description" />
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Discount :</label><br />
                    <input id="site-name" type="number" class="form-control" ng-model="saveData.Discount" placeholder="Enter Discount" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">Minimum Amount :</label><br />
                    <input id="site-name" type="number" class="form-control" ng-model="saveData.MinAmount" placeholder="Enter Minmum Amount" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Source Item Name :</label>
                    <input id="tags" ng-keyup="complete()" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope" ng-model="saveData.SourceItemName" placeholder="Source Item Name" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">Free Item Name :</label>
                    <input id="tags1" type="text" ng-keyup="completed()" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope" ng-model="saveData.FreeItemName" placeholder="Free Item Name" />

                </div>
            </div>
            <div class="form-group">
                <label for="site-name">Discout Type :</label>
                <select id="site-name" class="form-control" ng-model="saveData.DiscountType">
                    <option value="" disabled>----Select Discount Type----</option>
                    <option>Percentage</option>
                    <option>Amount</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="site-name">Start Date :</label><br />
                    <input id="site-name" type="date" class="form-control" aria- ng-model="saveData.StartDate" placeholder="Enter Start Date" />
                </div>
                <div class="col-lg-6">
                    <label for="site-name">End Date : </label><br />
                    <input id="site-name" type="date" class="form-control" ng-model="saveData.EndDate" placeholder="Enter End Date" />
                </div>
            </div>
            <div class="form-group">
                <label for="uploadAdvertisements">Upload Image:</label>
                <input class="btn btn-primary" id="file" type="file" nv-file-select="" uploader="uploader" />
                <div ng-repeat="Item in uploader.queue">
                    <button type="button" class="btn btn-success btn-xs" ng-click="Item.upload()" ng-model="Item.FileUrl" ng-disabled="Item.isReady || Item.isUploading || Item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Put(saveData)">Save</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="mydeletemodal.html">

    <form name="myFormdeleteModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to Delete?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="delete(saveData,$index)">Yes</button>
        </div>
    </form>
</script>