
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div> <button class="btn btn-primary" ng-click="open()"> <span class="glyphicon glyphicon-plus"> </span>Delivery Charges</button> </div>
        <br />
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Index
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('id')"
                                  data-ng-class="{active: row == 'id'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-id')"
                                  data-ng-class="{active: row == '-id'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Delivery Charge
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('del_Charge')"
                                  data-ng-class="{active: row == 'del_Charge'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-del_Charge')"
                                  data-ng-class="{active: row == '-del_Charge'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Minimum Amount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('min_Amount')"
                                  data-ng-class="{active: row == 'min_Amount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-min_Amount')"
                                  data-ng-class="{active: row == '-min_Amount'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Maximun Amount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('max_Amount')"
                                  data-ng-class="{active: row == 'max_Amount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-max_Amount')"
                                  data-ng-class="{active: row == '-max_Amount'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            WareHouse
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('warhouse_Name')"
                                  data-ng-class="{active: row == 'warhouse_Name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-warhouse_Name')"
                                  data-ng-class="{active: row == '-warhouse_Name'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Cluster
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('cluster_Name')"
                                  data-ng-class="{active: row == 'cluster_Name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-cluster_Name')"
                                  data-ng-class="{active: row == '-cluster_Name'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Edit
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.id}}</td>
                    <td>{{trade.del_Charge}}</td>
                    <td>{{trade.min_Amount}}</td>
                    <td>{{trade.max_Amount}}</td>
                    <td>{{trade.warhouse_Name}}</td>
                    <td>{{trade.cluster_Name}}</td>
                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>

<script type="text/ng-template" id="muDeliveryAdd.html">
    <form name="myFormSiteModal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span class="icon icon-x" aria-hidden="true"></span><span class="sr-only">Close</span></button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Add Delivery charge</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="site-name">Delivery Charge:</label><br />
                <input id="site-name" type="number" class="form-control" ng-model="DeliveryData.del_Charge" placeholder="Enter Delivery Charge Amount" />
            </div>
            <div class="form-group">
                <label for="site-name">Minimum Amount:</label><br />                
                <input id="site-name" class="form-control" required="" ng-model="DeliveryData.min_Amount" placeholder="Enter Minimum Delivery Amount"/>
            </div> 
            <div class="form-group">
                <label for="site-name">Maximum Amount:</label><br />
                <input id="site-name" class="form-control" required="" ng-model="DeliveryData.max_Amount" placeholder="Enter Maximum Delivery Amount"/>
            </div>         
            <div class="form-group">
                <label for="site-name">Select warehouse:</label><br />
                <select class="form-control" ng-model="DeliveryData.warhouse_Id">
                    <option value="">---SELECT---</option>
                    <option value="{{w.Warehouseid}}" ng-repeat="w in warehouse"> {{w.WarehouseName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Select Cluster:</label><br />
                <select class="form-control" ng-model="DeliveryData.cluster_Id">
                    <option value="">---SELECT---</option>
                    <option value="{{w.clusterId}}" ng-repeat="w in Cluster"> {{w.ClusterName}}</option>
                </select>
            </div>  
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="AddDeliveryCharge()">Save</button>
        </div>
    </form>
</script>
