
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"> 
        <strong> 
            <span class="glyphicon glyphicon-th"> 
            </span> List of Expenses</strong>
         </div>
      
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6"> <form>
                     <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
                     </form> </div> <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStores.length}}/{{stores.length}} entries
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Project Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('ProjectName')"
                                  data-ng-class="{active: row == 'ProjectName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-ProjectName')"
                                  data-ng-class="{active: row == '-ProjectName'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Category Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CategoryName')"
                                  data-ng-class="{active: row == 'CategoryName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CategoryName')"
                                  data-ng-class="{active: row == '-CategoryName'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Discription
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Discription')"
                                  data-ng-class="{active: row == 'Discription'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Discription')"
                                  data-ng-class="{active: row == '-Discription'}"></span>
                        </div>
                    </th>

                   

                    <th>
                        <div class="th">
                            Amount
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Amount')"
                                  data-ng-class="{active: row == 'Amount'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CellNo')"
                                  data-ng-class="{active: row == '-Amount'}"></span>
                        </div>
                    </th>

                  

                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                        </div>
                    </th>
                    <th>
                        <div class="th">
                        </div>
                    </th>
                </tr>



            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.ProjectName}}</td>
                    <td>{{trade.CategoryName}}</td>
                    <td>{{trade.Discription}}</td>
                    <td>{{trade.Amount}}</td>                  
                    <td>{{trade.CreatedDate | date:'medium'}}</td>
                   

                    <td><button class="btn-sm btn-primary" ng-click="approveReason(trade)">Approve</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="declineReason(trade)">Decline</button> </td>
                </tr>
            </tbody>
        </table>


        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>



<!-- /site tiles -->
<!-- new site modal -->
<script type="text/ng-template" id="approveExpense.html">
    <form name="myFormSiteModal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span class="icon icon-x" aria-hidden="true">
                </span>
            <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Reason to Approve</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <!--<label for="site-name">Category Description:</label><br />-->
                <textarea id="site-name" class="form-control" rows="4" required="" ng-model="ExpenseData.ReasonForAppDec" placeholder="Enter Reason for Approval">
                </textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="approve(ExpenseData)">Approve</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="declineExpense.html">
    <form name="myFormSiteModal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Reason to Decline</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
               
                <textarea id="site-name" class="form-control" rows="4" required="" ng-model="ExpenseData.ReasonForAppDec" placeholder="Enter Reason for Approval">
                </textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="decline(ExpenseData)">Decline</button>
        </div>
    </form>
</script>
