<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span> Mobile SMS 
            </strong>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" ng-click="open()">
                <span class="glyphicon glyphicon-plus">
                </span> Add Message
            </button>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>

                    <th>
                        <div class="th">
                            Type
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Type')"
                                  data-ng-class="{active: row == 'Type'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Type')"
                                  data-ng-class="{active: row == '-Type'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Title
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Title')"
                                  data-ng-class="{active: row == 'Title'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Title')"
                                  data-ng-class="{active: row == '-Title'}"></span>
                        </div>
                    </th>
                    
                    
                    <th>
                        <div class="th">
                            Text
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Text')"
                                  data-ng-class="{active: row == 'Text'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Text')"
                                  data-ng-class="{active: row == '-Text'}"></span>
                        </div>
                    </th>

                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>
                   
                    <th>
                        <div class="th">
                            Edit
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Delete
                        </div>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.MessageType}}</td>

                    <td>{{trade.MessageTitle}}</td>
                   
                    <td>{{trade.MessageText}}</td>
              
                    <td>{{trade.CreatedDate| date:'medium'}}</td>
                    
                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="opendelete(trade,$index)">Remove</button> </td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>

<script type="text/ng-template" id="myADDModal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Create Message </h4>

        </div>

        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <label for="site-name">Select Type:</label><br />
                <select class="form-control" id="site-name" ng-model="saveData.MessageType" required>
                    <option value="">---SELECT---</option>
                    <option value="">---SELECT---</option>
                    <option value="Pending">Order Pending</option>
                    <option value="Process"> Kot(Process)</option>
                    <option value="Dispatched"> Dispatch</option>
                    <option value="Delivered"> Delivered</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Title:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="saveData.MessageTitle" placeholder="Enter Title" />
            </div>
            <div class="form-group">
                <label for="site-name">Text:</label><br />
                <textarea id="site-name" type="text" class="form-control" ng-model="saveData.MessageText" placeholder="Enter Text" />
            </div>
           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Add(saveData)">Save</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="myputmodal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit Message </h4>

        </div>

        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>

            <div class="form-group">
                <label for="site-name">Select Type:</label><br />
                <select class="form-control" id="site-name" ng-model="saveData.MessageType" required>
                    <option value="">---SELECT---</option>
                    <option value="OrderConfirm"> Order Confirm</option>
                    <option value="Pending"> Kot</option>
                    <option value="Process"> Process</option>
                    <option value="Delivered"> Delivered</option>
                    <option value="Delivery Boy"> Delivery Boy</option>
                </select>
            </div>

            <div class="form-group">
                <label for="site-name">Title:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="saveData.MessageTitle" placeholder="Enter Title" />
            </div>
           
            <div class="form-group">
                <label for="site-name">Text:</label><br />
                <textarea id="site-name" type="text" class="form-control" ng-model="saveData.MessageText" placeholder="Enter Text" />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Put(saveData)">Save</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="mydeletemodal.html">

    <form name="myFormdeleteModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to Delete?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="delete(saveData,$index)">Yes</button>
        </div>
    </form>
</script>