
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span>Roles
            </strong>
        </div>
        <br />
        <div>
            <button class="btn btn-primary" ng-click="open()">
                <span class="glyphicon glyphicon-plus"> </span> Add new Roles
            </button>
        </div>
        <br />
       
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Role Title
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('RoleTitle')"
                                  data-ng-class="{active: row == 'RoleTitle'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-RoleTitle')"
                                  data-ng-class="{active: row == '-RoleTitle'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order(' CreatedDate')"
                                  data-ng-class="{active: row == ' CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('- CreatedDate')"
                                  data-ng-class="{active: row == '- CreatedDate'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Edit
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Delete
                        </div>
                    </th>
                  
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.RoleTitle}}</td>
                    <td>{{trade.CreatedDate | date:'medium'}}</td>
                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="opendelete(trade,$index)">Remove</button> </td>
                </tr>
            </tbody>
        </table>
     
    </section>
</div>
<!-- /site tiles -->
<!-- new site modal -->

<script type="text/ng-template" id="myroleModal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Add Role</h4>

        </div>


        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group" >
                <label for="site-name">Role Title:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="RoleData.RoleTitle"  placeholder="Enter role title" ng-required />
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Addrole(RoleData)">Save</button>
        </div>
    </form>
</script>



<!--Update AssetsCategory-->
<script type="text/ng-template" id="myroleModalPut.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit Roles</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <label for="site-name">Role Title:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="RoleData.RoleTitle" placeholder="Enter role title" />
            </div>
           

           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Putrole(RoleData)">Save</button>
        </div>
    </form>
</script>


<!-- /new site modal -->

<script type="text/ng-template" id="myModaldeleterole.html">

    <form name="myFormTaskTypeModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete Roles</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to Delete?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="deleterole(RoleData,$index)">Yes</button>
        </div>
    </form>
</script>