



    <div class="page page-table">
        <div class="panel panel-default table-dynamic">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Edit Company Settings</strong></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-2">Web Address</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.Webaddress" class="form-control" value="{{settings.Webaddress}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2"> Address</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.Address" class="form-control" value="{{settings.Address}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2">Contact Info</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.contactinfo" class="form-control" value="{{settings.contactinfo}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Company Name</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.companyName" class="form-control" value="{{settings.companyName}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Time Zone</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.timezone" class="form-control" value="{{settings.timezone}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2">TimeSheet Reminder Day\Time</label>
                        <div class="col-sm-5">
                            <select id="reminderDay" ng-model="settings.AlertDay" style="width:180px" name="recurring[currency]" onchange="invoice.parse_out_currency_symbol(); invoice.recompute_amounts_and_totals(); invoice.reformat_unit_price();">

                                <option value="">---SELECT---</option>
                                <option value="Everyday">Everyday</option>
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <select id="reminderTime" ng-model="settings.AlertTime" style="width:180px" name="recurring[currency]" onchange="invoice.parse_out_currency_symbol(); invoice.recompute_amounts_and_totals(); invoice.reformat_unit_price();">
                                <option value="">---SELECT---</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">TimeSheet Freeze Day</label>

                        <div class="col-sm-5">
                            <select id="reminderTime" ng-model="settings.FreezeDay" style="width:180px" name="recurring[currency]" onchange="invoice.parse_out_currency_symbol(); invoice.recompute_amounts_and_totals(); invoice.reformat_unit_price();">
                                <option value="">---SELECT---</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Currency</label>
                        <div class="col-sm-5">
                            <select id="recurring_currency" ng-model="settings.currency" style="width:180px" name="recurring[currency]" onchange="invoice.parse_out_currency_symbol(); invoice.recompute_amounts_and_totals(); invoice.reformat_unit_price();">
                                <option value="">---SELECT---</option>
                                <option value="United States Dollar - USD">United States Dollar - USD</option>
                                <option value="Euro - EUR">Euro - EUR</option>
                                <option value="British Pound - GBP">British Pound - GBP</option>
                                <option value="Australian Dollar - AUD">Australian Dollar - AUD</option>
                                <option value="Canadian Dollar - CAD">Canadian Dollar - CAD</option>
                                <option value="Japanese Yen - JPY">Japanese Yen - JPY</option>
                                <option value="United Arab Emirates Dirham - AED">United Arab Emirates Dirham - AED</option>
                                <option value="Afghan Afghani - AFN">Afghan Afghani - AFN</option>
                                <option value="Albanian Lek - ALL">Albanian Lek - ALL</option>
                                <option value="Armenian Dram - AMD">Armenian Dram - AMD</option>
                                <option value="Netherlands Antillean Gulden - ANG">Netherlands Antillean Gulden - ANG</option>
                                <option value="Angolan Kwanza - AOA">Angolan Kwanza - AOA</option>
                                <option value="Argentine Peso - ARS">Argentine Peso - ARS</option>
                                <option value="Aruban Florin - AWG">Aruban Florin - AWG</option>
                                <option value="Azerbaijani Manat - AZN">Azerbaijani Manat - AZN</option>
                                <option value="Bosnia and Herzegovina Convertible Mark - BAM">Bosnia and Herzegovina Convertible Mark - BAM</option>
                                <option value="Barbadian Dollar - BBD">Barbadian Dollar - BBD</option>
                                <option value="Bangladeshi Taka - BDT">Bangladeshi Taka - BDT</option>
                                <option value="Bulgarian Lev - BGN">Bulgarian Lev - BGN</option>
                                <option value="Bahraini Dinar - BHD">Bahraini Dinar - BHD</option>
                                <option value="Burundian Franc - BIF">Burundian Franc - BIF</option>
                                <option value="Bermudian Dollar - BMD">Bermudian Dollar - BMD</option>
                                <option value="Brunei Dollar - BND">Brunei Dollar - BND</option>
                                <option value="Bolivian Boliviano - BOB">Bolivian Boliviano - BOB</option>
                                <option value="Brazilian Real - BRL">Brazilian Real - BRL</option>
                                <option value="Bahamian Dollar - BSD">Bahamian Dollar - BSD</option>
                                <option value="Bitcoin - BTC">Bitcoin - BTC</option>
                                <option value="Bhutanese Ngultrum - BTN">Bhutanese Ngultrum - BTN</option>
                                <option value="Botswana Pula - BWP">Botswana Pula - BWP</option>
                                <option value="Belarusian Ruble - BYR">Belarusian Ruble - BYR</option>
                                <option value="Belize Dollar - BZD">Belize Dollar - BZD</option>
                                <option value="Congolese Franc - CDF">Congolese Franc - CDF</option>
                                <option value="Swiss Franc - CHF">Swiss Franc - CHF</option>
                                <option value="Unidad de Fomento - CLF">Unidad de Fomento - CLF</option>
                                <option value="Chilean Peso - CLP">Chilean Peso - CLP</option>
                                <option value="Chinese Renminbi Yuan - CNY">Chinese Renminbi Yuan - CNY</option>
                                <option value="Colombian Peso - COP">Colombian Peso - COP</option>
                                <option value="Costa Rican Colón - CRC">Costa Rican Colón - CRC</option>
                                <option value="Cuban Convertible Peso - CUC">Cuban Convertible Peso - CUC</option>
                                <option value="Cuban Peso - CUP">Cuban Peso - CUP</option>
                                <option value="Cape Verdean Escudo - CVE">Cape Verdean Escudo - CVE</option>
                                <option value="Czech Koruna - CZK">Czech Koruna - CZK</option>
                                <option value="Djiboutian Franc - DJF">Djiboutian Franc - DJF</option>
                                <option value="Danish Krone - DKK">Danish Krone - DKK</option>
                                <option value="Dominican Peso - DOP">Dominican Peso - DOP</option>
                                <option value="Algerian Dinar - DZD">Algerian Dinar - DZD</option>
                                <option value="Estonian Kroon - EEK">Estonian Kroon - EEK</option>
                                <option value="Egyptian Pound - EGP">Egyptian Pound - EGP</option>
                                <option value="Eritrean Nakfa - ERN">Eritrean Nakfa - ERN</option>
                                <option value="Ethiopian Birr - ETB">Ethiopian Birr - ETB</option>
                                <option value="Fijian Dollar - FJD">Fijian Dollar - FJD</option>
                                <option value="Falkland Pound - FKP">Falkland Pound - FKP</option>
                                <option value="Georgian Lari - GEL">Georgian Lari - GEL</option>
                                <option value="Ghanaian Cedi - GHS">Ghanaian Cedi - GHS</option>
                                <option value="Ghanaian Cedi - GHS">Ghanaian Cedi - GHS</option>
                                <option value="Gibraltar Pound - GIP">Gibraltar Pound - GIP</option>
                                <option value="Gambian Dalasi - GMD">Gambian Dalasi - GMD</option>
                                <option value="Guinean Franc - GNF">Guinean Franc - GNF</option>
                                <option value="Guatemalan Quetzal - GTQ">Guatemalan Quetzal - GTQ</option>
                                <option value="Guyanese Dollar - GYD">Guyanese Dollar - GYD</option>
                                <option value="Hong Kong Dollar - HKD">Hong Kong Dollar - HKD</option>
                                <option value="Honduran Lempira - HNL">Honduran Lempira - HNL</option>
                                <option value="Croatian Kuna - HRK">Croatian Kuna - HRK</option>
                                <option value="Haitian Gourde - HTG">Haitian Gourde - HTG</option>
                                <option value="Hungarian Forint - HUF">Hungarian Forint - HUF</option>
                                <option value="Indonesian Rupiah - IDR">Indonesian Rupiah - IDR</option>
                                <option value="Israeli New Sheqel - ILS">Israeli New Sheqel - ILS</option>
                                <option value="Indian Rupee - INR">Indian Rupee - INR</option>
                                <option value="Iraqi Dinar - IQD">Iraqi Dinar - IQD</option>
                                <option value="Iranian Rial - IRR">Iranian Rial - IRR</option>
                                <option value="Icelandic Króna - ISK">Icelandic Króna - ISK</option>
                                <option value="Jersey Pound - JEP">Jersey Pound - JEP</option>
                                <option value="Jamaican Dollar - JMD">Jamaican Dollar - JMD</option>
                                <option value="Jordanian Dinar - JOD">Jordanian Dinar - JOD</option>
                                <option value="Kenyan Shilling - KES">Kenyan Shilling - KES</option>
                                <option value="Kyrgyzstani Som - KGS">Kyrgyzstani Som - KGS</option>
                                <option value="Cambodian Riel - KHR">Cambodian Riel - KHR</option>
                                <option value="Comorian Franc - KMF">Comorian Franc - KMF</option>
                                <option value="North Korean Won - KPW">North Korean Won - KPW</option>
                                <option value="South Korean Won - KRW">South Korean Won - KRW</option>
                                <option value="Kuwaiti Dinar - KWD">Kuwaiti Dinar - KWD</option>
                                <option value="Cayman Islands Dollar - KYD">Cayman Islands Dollar - KYD</option>
                                <option value="Kazakhstani Tenge - KZT">Kazakhstani Tenge - KZT</option>
                                <option value="Lao Kip - LAK">Lao Kip - LAK</option>
                                <option value="Lebanese Pound - LBP">Lebanese Pound - LBP</option>
                                <option value="Sri Lankan Rupee - LKR">Sri Lankan Rupee - LKR</option>
                                <option value="Liberian Dollar - LRD">Liberian Dollar - LRD</option>
                                <option value="Lesotho Loti - LSL">Lesotho Loti - LSL</option>
                                <option value="Lithuanian Litas - LTL">Lithuanian Litas - LTL</option>
                                <option value="Latvian Lats - LVL">Latvian Lats - LVL</option>
                                <option value="Libyan Dinar - LYD">Libyan Dinar - LYD</option>
                                <option value="Moroccan Dirham - MAD">Moroccan Dirham - MAD</option>
                                <option value="Moldovan Leu - MDL">Moldovan Leu - MDL</option>
                                <option value="Malagasy Ariary - MGA">Malagasy Ariary - MGA</option>
                                <option value="Macedonian Denar - MKD">Macedonian Denar - MKD</option>
                                <option value="Myanmar Kyat - MMK">Myanmar Kyat - MMK</option>
                                <option value="Mongolian Tögrög - MNT">Mongolian Tögrög - MNT</option>
                                <option value="Macanese Pataca - MOP">Macanese Pataca - MOP</option>
                                <option value="Mauritanian Ouguiya - MRO">Mauritanian Ouguiya - MRO</option>
                                <option value="Maltese Lira - MTL">Maltese Lira - MTL</option>
                                <option value="Mauritian Rupee - MUR">Mauritian Rupee - MUR</option>
                                <option value="Maldivian Rufiyaa - MVR">Maldivian Rufiyaa - MVR</option>
                                <option value="Malawian Kwacha - MWK">Malawian Kwacha - MWK</option>
                                <option value="Mexican Peso - MXN">Mexican Peso - MXN</option>
                                <option value="Malaysian Ringgit - MYR">Malaysian Ringgit - MYR</option>
                                <option value="Mozambican Metical - MZN">Mozambican Metical - MZN</option>
                                <option value="Namibian Dollar - NAD">Namibian Dollar - NAD</option>
                                <option value="Nigerian Naira - NGN">Nigerian Naira - NGN</option>
                                <option value="Nicaraguan Córdoba - NIO">Nicaraguan Córdoba - NIO</option>
                                <option value="Norwegian Krone - NOK">Norwegian Krone - NOK</option>
                                <option value="Nepalese Rupee - NPR">Nepalese Rupee - NPR</option>
                                <option value="New Zealand Dollar - NZD">New Zealand Dollar - NZD</option>
                                <option value="Omani Rial - OMR">Omani Rial - OMR</option>
                                <option value="Panamanian Balboa - PAB">Panamanian Balboa - PAB</option>
                                <option value="Peruvian Nuevo Sol - PEN">Peruvian Nuevo Sol - PEN</option>
                                <option value="Papua New Guinean Kina - PGK">Papua New Guinean Kina - PGK</option>
                                <option value="Philippine Peso - PHP">Philippine Peso - PHP</option>
                                <option value="Pakistani Rupee - PKR">Pakistani Rupee - PKR</option>
                                <option value="Polish Zloty - PLN">Polish Zloty - PLN</option>
                                <option value="Paraguayan Guaraní - PYG">Paraguayan Guaraní - PYG</option>
                                <option value="Qatari Riyal - QAR">Qatari Riyal - QAR</option>
                                <option value="Romanian Leu - RON">Romanian Leu - RON</option>
                                <option value="Serbian Dinar - RSD">Serbian Dinar - RSD</option>
                                <option value="Russian Ruble - RUB">Russian Ruble - RUB</option>
                                <option value="Rwandan Franc - RWF">Rwandan Franc - RWF</option>
                                <option value="Saudi Riyal - SAR">Saudi Riyal - SAR</option>
                                <option value="Solomon Islands Dollar - SBD">Solomon Islands Dollar - SBD</option>
                                <option value="Seychellois Rupee - SCR">Seychellois Rupee - SCR</option>
                                <option value="Sudanese Pound - SDG">Sudanese Pound - SDG</option>
                                <option value="Swedish Krona - SEK">Swedish Krona - SEK</option>
                                <option value="Singapore Dollar - SGD">Singapore Dollar - SGD</option>
                                <option value="Saint Helenian Pound - SHP">Saint Helenian Pound - SHP</option>
                                <option value="Slovak Koruna - SKK">Slovak Koruna - SKK</option>
                                <option value="Sierra Leonean Leone - SLL">Sierra Leonean Leone - SLL</option>
                                <option value="Somali Shilling - SOS">Somali Shilling - SOS</option>
                                <option value="Surinamese Dollar - SRD">Surinamese Dollar - SRD</option>
                                <option value="South Sudanese Pound - SSP">South Sudanese Pound - SSP</option>
                                <option value="São Tomé and Príncipe Dobra - STD">São Tomé and Príncipe Dobra - STD</option>
                                <option value="Salvadoran Colón - SVC">Salvadoran Colón - SVC</option>
                                <option value="Syrian Pound - SYP">Syrian Pound - SYP</option>
                                <option value="Swazi Lilangeni - SZL">Swazi Lilangeni - SZL</option>
                                <option value="Thai Baht - THB">Thai Baht - THB</option>
                                <option value="Tajikistani Somoni - TJS">Tajikistani Somoni - TJS</option>
                                <option value="Turkmenistani Manat - TMM">Turkmenistani Manat - TMM</option>
                                <option value="Turkmenistani Manat - TMT">Turkmenistani Manat - TMT</option>
                                <option value="Tunisian Dinar - TND">Tunisian Dinar - TND</option>
                                <option value="Tongan Pa?anga - TOP">Tongan Pa?anga - TOP</option>
                                <option value="Turkish Lira - TRY">Turkish Lira - TRY</option>
                                <option value="Trinidad and Tobago Dollar - TTD">Trinidad and Tobago Dollar - TTD</option>
                                <option value="New Taiwan Dollar - TWD">New Taiwan Dollar - TWD</option>
                                <option value="Tanzanian Shilling - TZS">Tanzanian Shilling - TZS</option>
                                <option value="Ukrainian Hryvnia - UAH">Ukrainian Hryvnia - UAH</option>
                                <option value="Ugandan Shilling - UGX">Ugandan Shilling - UGX</option>
                                <option value="Uruguayan Peso - UYU">Uruguayan Peso - UYU</option>
                                <option value="Uzbekistani Som - UZS">Uzbekistani Som - UZS</option>
                                <option value="Venezuelan Bolívar - VEF">Venezuelan Bolívar - VEF</option>
                                <option value="Vietnamese Ð?ng - VND">Vietnamese Ð?ng - VND</option>
                                <option value="Vanuatu Vatu - VUV">Vanuatu Vatu - VUV</option>
                                <option value="Samoan Tala - WST">Samoan Tala - WST</option>
                                <option value="Central African Cfa Franc - XAF">Central African Cfa Franc - XAF</option>
                                <option value="Silver (Troy Ounce) - XAG">Silver (Troy Ounce) - XAG</option>
                                <option value="Gold (Troy Ounce) - XAU">Gold (Troy Ounce) - XAU</option>
                                <option value="East Caribbean Dollar - XCD">East Caribbean Dollar - XCD</option>
                                <option value="Special Drawing Rights - XDR">Special Drawing Rights - XDR</option>
                                <option value="West African Cfa Franc - XOF">West African Cfa Franc - XOF</option>
                                <option value="Cfp Franc - XPF">Cfp Franc - XPF</option>
                                <option value="Japanese Yen - JPY">Japanese Yen - JPY</option>
                                <option value="Yemeni Rial - YER">Yemeni Rial - YER</option>
                                <option value="South African Rand - ZAR">South African Rand - ZAR</option>
                                <option value="Zambian Kwacha - ZMK">Zambian Kwacha - ZMK</option>
                                <option value="Zambian Kwacha - ZMW">Zambian Kwacha - ZMW</option>
                                <option value="Zimbabwean Dollar - ZWD">Zimbabwean Dollar - ZWD</option>
                                <option value="Zimbabwean Dollar - ZWL">Zimbabwean Dollar - ZWL</option>
                                <option value="Zimbabwean Dollar - ZWN">Zimbabwean Dollar - ZWN</option>
                                <option value="Zimbabwean Dollar - ZWR">Zimbabwean Dollar - ZWR</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2">Fiscal year</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.fiscalyear" class="form-control" value="{{settings.fiscalyear}}">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="" class="col-sm-2">Date Format</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="setting.dateformat" class="form-control" value="{{setting.dateformat}}">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="" class="col-sm-2">Start Week On</label>
                        <div class="col-sm-10">
                            <select id="recurring_week" ng-model="settings.startweek" style="width:180px" name="recurring[startweek]" onchange="invoice.parse_out_currency_symbol(); invoice.recompute_amounts_and_totals(); invoice.reformat_unit_price();">
                                <option value="">---SELECT---</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label for="" class="col-sm-2">Updated On</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="setting.updated" class="form-control" value="{{setting.updated}}">
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label for="" class="col-sm-2">TFS Url</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.TFSUrl" class="form-control" value="{{settings.TFSUrl}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">TFS Admin User</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.TFSUserId" class="form-control" value="{{settings.TFSUserId}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">TFS Admin Password</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="settings.TFSPassword" class="form-control" value="{{settings.TFSPassword}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Logo</label>
                        <input id="file" type="file" nv-file-select="" uploader="uploader" />
                        <div ng-repeat="item in uploader.queue">
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-model="item.FileUrl" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                        </div>
                        <!--<span class="glyphicon glyphicon-euro"></span>
                        <span class="glyphicon-class"> </span>-->
                    </div>

            </div>
            </form>
        </div>
    </div>


<!--<div style="width:100px" class="panel-heading">
    <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="save(setting)">Save</button>
</div>-->
<div class="modal-footer">
    <a type="button" class="btn btn-warning btn-lg" href="#/settings">Cancel</a>
    <button type="button" class="btn btn-primary btn-lg" ng-click="PutSetting(settings)">Save</button>
</div>

