<div class="page">
    

        <div class="timesheet-header">
            <div class="f-left">
                <h1 class="test-week-20150406 test-user-973600">



                    <span>{{textstring}}</span>


                </h1>

            </div>
            <div class="f-right ">



                <div class="button-toggle">
                    <div class="btn-group-sm">
                        <label class="btn-sm btn-primary" ng-model="radioModel" ng-click="previousday()"><i class="fa fa-angle-left"></i></label>
                        <label class="btn-sm btn-primary" ng-model="radioModel" ng-click="thisDay()">Day</label>
                        <label class="btn-sm btn-primary" ng-model="radioModel" ng-click="ff()"><i class="fa fa-angle-right"></i></label>
                    </div>

                </div>


                &nbsp;





                &nbsp;

                <div class="btn-group-lg">


                    <a class="btn-lg btn-primary" href="#/daytimesheet"><span data-i18n="Day"></span></a>
                    <a class="btn-lg btn-primary" onclick="return false;" href="#/weektimesheet"><span data-i18n="Week"></span></a>
                    <a class="btn-lg btn-primary" href="#/monthtimesheet"><span data-i18n="Month"></span></a>


                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Day Timesheet      {{textstring}} </strong></div>

            <div class="table">
                <table class="table table-striped table-bordered  week-view-table ">
                    <thead>
                        <tr>
                            <td class="name">Search by Client or Project name</td>
                           <td>Task Name</td>
                             <td class="type">Task Type </td>
                            <td class="day">
                                <a class="js-backbone test-Monday js-day test-not-today" tabindex="1" title="Monday">

                                    <span>{{d1}}</span>
                                </a>

                            </td>

                            <td class="total">&nbsp;</td>
                            <td class="deletetab">&nbsp;</td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="name">
                                <a class="button button-new-row test-button-new-row js-new-week-row" href="javascript:void(0)" tabindex="2">
                                    <span class="ss-plus" ng-click="addDayRow()">Add Row</span>
                                </a>
                                &nbsp;
                                <a class="button button-primary test-week-view-save week-view-save button-disabled" href="javascript:void(0)" tabindex="1">Save</a>

                            </td>
                            <td></td>
                            <td class="day test-not-today test-day-total-1">
                                {{dayAllTotal()}}
                            </td>

                            <td class="total"> {{dayAllTotal()}}</td>
                            <td class="deletetab">&nbsp;</td>
                        </tr>
                    </tfoot>



                    <tbody>
                        <tr  ng-repeat="i in dayGridRows">

                            <td>
                                <input type="text"
                                       ng-model="i.clientproject"
                                       typeahead="state.Name for state in AllClientproject"
                                       class="form-control"
                                       placeholder="Search Project">
                            </td>
                            <td>{{i.taskname}}</td>
                            <td>
                                <span class="ui-select">

                                    <select name='tasktypeid' id="tasktypeid" class='span3'>
                                        <option value=''>Select Task Type</option>
                                        <option ng-repeat="t in tasktypes" value="{{t.Id}}" ng-selected="i.tasktypeid == t.Id">
                                            {{t.Name}}
                                        </option>
                                    </select>



                                </span>
                            </td>

                            <td class="day today">
                                <input class="input js-compound-entry" tabindex="1" type="text" ng-model="i.d1">

                            </td>

                            <td class="total">
                                {{getdayRowTotal(i)}}
                            </td>
                            <td class="deletetab js-end-of-week-row ">

                                <div class="pop-over-wrap">
                                    <a class="js-remove-row js-bubble week-row-delete button button-small button-no-border" href="javascript:void(0)" tabindex="1" title="Delete Row">
                                        <span class="ss-icon" title="Delete Row" ng-click="removeDayRow($index)">Delete</span>
                                    </a>
                                   
                                </div>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
   
        </section>


    </div>











