
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span>supplierCategory
            </strong>
        </div>
        <br />
        <div>
            <button class="btn btn-primary" ng-click="open()">
                <span class="glyphicon glyphicon-plus"> </span> New supplierCategory
            </button>
        </div>
        <br />

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Category Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CategoryName')"
                                  data-ng-class="{active: row == 'CategoryName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CategoryName')"
                                  data-ng-class="{active: row == 'CategoryName'}"></span>
                        </div>
                    </th>
                
                    <th>
                        <div class="th">
                            Edit
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Delete
                        </div>
                    </th>

                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.CategoryName}}</td>
                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="opendelete(trade,$index)">Remove</button> </td>
                </tr>
            </tbody>
        </table>

    </section>
</div>
<!-- /site tiles -->
<!-- new site modal -->

<script type="text/ng-template" id="mysupplierCategoryModal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Add supplier Category</h4>

        </div>


        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <label for="site-name">supplier Category:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="supplierCategoryData.CategoryName" placeholder="Enter supplier Category" required />
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="AddsupplierCategory(supplierCategoryData)">Save</button>
        </div>
    </form>
</script>



<!--Update AssetsCategory-->
<script type="text/ng-template" id="mysupplierCategoryModalPut.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit supplier Category</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <div class="form-group">
                <label for="site-name">supplier Category:</label><br />
                <input id="site-name" type="text" class="form-control" ng-model="supplierCategoryData.CategoryName" placeholder="Enter supplierCategory" ng-required />
            </div>
           


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="PutsupplierCategory(supplierCategoryData)">Save</button>
        </div>
    </form>
</script>


<!-- /new site modal -->

<script type="text/ng-template" id="myModaldeletesupplierCategory.html">

    <form name="myFormTaskTypeModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete Item supplierCategory</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to Delete?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="deletesupplierCategorys(supplierCategoryData,$index)">Yes</button>
        </div>
    </form>
</script>