<head>
    <style>
        #dragandrophandler {
            border: 2px dashed #92AAB0;
            width: 650px;
            height: 200px;
            color: #92AAB0;
            text-align: center;
            vertical-align: middle;
            padding: 10px 0px 10px 10px;
            font-size: 200%;
            display: table-cell;
        }

        .progressBar {
            width: 200px;
            height: 22px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            display: inline-block;
            margin: 0px 10px 5px 5px;
            vertical-align: top;
        }

            .progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px; /* same as #progressBar height if we want text middle aligned */
                width: 0;
                background-color: #0ba1b5;
                border-radius: 3px;
            }

        .statusbar {
            border-top: 1px solid #A9CCD1;
            min-height: 25px;
            width: 700px;
            padding: 10px 10px 0px 10px;
            vertical-align: top;
        }

            .statusbar:nth-child(odd) {
                background: #EBEFF0;
            }

        .filename {
            display: inline-block;
            vertical-align: top;
            width: 250px;
        }

        .filesize {
            display: inline-block;
            vertical-align: top;
            color: #30693D;
            width: 100px;
            margin-left: 10px;
            margin-right: 5px;
        }

        .abort {
            background-color: #A8352F;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            display: inline-block;
            color: #fff;
            font-family: arial;
            font-size: 13px;
            font-weight: normal;
            padding: 4px 15px;
            cursor: pointer;
            vertical-align: top;
        }
        img.img80_80 
        {
    width: 60px;
    height: 40px;
}
    </style>
</head>
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"> <strong> <span class="glyphicon glyphicon-th"> </span>Transfer Item in damage stock</strong> </div>
        <br />
        <div class="form-group">
            <label for="site-name"> Please select Item to Transfer Item in damage stock for Damage/Expire</label><br />
        </div>
        <div class="form-group col-md-2">
          <p>Select Warehouse</p>
            <select class="form-control" id="site-name" name="Warename" ng-model="warehouses.Warehouseid" data-ng-change="getWareitemMaster(warehouses)">
                <option value="">---SELECT---</option>
                <option value="{{warehouses.Warehouseid}}" ng-repeat="warehouses in warehouse"> {{warehouses.WarehouseName}}</option>
            </select>
        </div>
       
        <div class="form-group col-md-2">

            <label for="site-name">Select Items </label>
            <div ng-dropdown-multiselect="" style="min-width:75px;" options="WarehouseFilterData" selected-model="examplemodel"  extra-settings="examplesettings"></div>
        </div>
        <div class="form-group col-md-2">
           
            <button type="button" class="btn btn-ar btn-primary" ng-click="Search(itemMasterData)">GetData</button>
        </div>
        

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                   
                    <th>
                        <div class="th">
                            Item Id
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('WarehouseName')"
                                  data-ng-class="{active: row == 'WarehouseName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-WarehouseName')"
                                  data-ng-class="{active: row == '-WarehouseName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Item Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('itemname')"
                                  data-ng-class="{active: row == 'itemname'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-itemname')"
                                  data-ng-class="{active: row == '-itemname'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Item Number 
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('price')"
                                  data-ng-class="{active: row == 'price'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-price')"
                                  data-ng-class="{active: row == '-price'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Unit Price
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('price')"
                                  data-ng-class="{active: row == 'price'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-price')"
                                  data-ng-class="{active: row == '-price'}"></span>
                        </div>
                    </th>
                   
                    <th>
                        <div class="th">
                           MRP Price
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('LogoUrl')"
                                  data-ng-class="{active: row == 'LogoUrl'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-LogoUrl')"
                                  data-ng-class="{active: row == '-LogoUrl'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Qty
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('LogoUrl')"
                                  data-ng-class="{active: row == 'LogoUrl'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-LogoUrl')"
                                  data-ng-class="{active: row == '-LogoUrl'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                          Reason
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('price')"
                                  data-ng-class="{active: row == 'price'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-price')"
                                  data-ng-class="{active: row == '-price'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                           Submit
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('LogoUrl')"
                                  data-ng-class="{active: row == 'LogoUrl'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-LogoUrl')"
                                  data-ng-class="{active: row == '-LogoUrl'}"></span>
                        </div>
                    </th>
                  
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="trade in item" style="color:black">
                    <!--<tr ng-if="item.ItemId!=null" >-->
                    <td>{{trade.ItemId}}</td>
                    <td>{{trade.itemname}}</td>
                    <td>{{trade.Number}}</td>
                    <td>{{trade.UnitPrice| number:2}}</td>
                    <td>{{trade.price | number:2}}</td>
                    <td><input type="number" ng-model="trade.qty" value="{{trade.qty}}"></td>
                    <td><input type="text" ng-model="trade.reasontotransfer"></td>
                    <td><button type="button"   id="st{{trade.ItemId}}" class="btn btn-ar btn-primary" ng-click="Addamagestock(trade)">Confirm</button></td>
                </tr>
            </tbody>
        </table>
      
    </section>
</div>

<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"> <strong> <span class="glyphicon glyphicon-th"> </span>Damage stock Item</strong> </div>
        <br />
        <div class="form-group col-md-1"></div>

        <table class="table table-bordered table-striped table-responsive" id="exportable">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            ItemId
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('SellingSku')"
                                  data-ng-class="{active: row == 'SellingSku'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-SKUCode')"
                                  data-ng-class="{active: row == '-SellingSku'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Warehouse Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('SellingSku')"
                                  data-ng-class="{active: row == 'SellingSku'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-SKUCode')"
                                  data-ng-class="{active: row == '-SellingSku'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Item Number
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('OrderId')"
                                  data-ng-class="{active: row == 'OrderId'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-OrderId')"
                                  data-ng-class="{active: row == '-OrderId'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Item Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Skcode')"
                                  data-ng-class="{active: row == 'Skcode'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Skcode')"
                                  data-ng-class="{active: row == '-Skcode'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Unit Price
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('WarehouseName')"
                                  data-ng-class="{active: row == 'WarehouseName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-WarehouseName')"
                                  data-ng-class="{active: row == '-WarehouseName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Reason To Transfer
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreationDate')"
                                  data-ng-class="{active: row == 'CreationDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreationDate')"
                                  data-ng-class="{active: row == '-CreationDate'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Damage Inventory
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('Barcode')"
                                  data-ng-class="{active: row == 'Barcode'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-Barcode')"
                                  data-ng-class="{active: row == '-Barcode'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                           Created
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreationDate')"
                                  data-ng-class="{active: row == 'CreationDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreationDate')"
                                  data-ng-class="{active: row == '-CreationDate'}"></span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="trade in currentPageStores|itemsPerPage:itemsPerPage" total-items="total_count">
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.ItemId}}</td>
                    <td>{{trade.WarehouseName}}</td>
                    <td>{{trade.ItemNumber}}</td>
                    <td> {{trade.ItemName}}</td>
                    <td> {{trade.UnitPrice}} </td>
                    <td> {{ trade.ReasonToTransfer}}</td>
                    <td>{{ trade.DamageInventory}}</td>
                    <td> {{ trade.CreatedDate}}</td>
                    </tr>
                 </tr>
            
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true"
                                         on-page-change="getgetBouncedata(newPageNumber)">
                    //get method call every time when page changes
                </dir-pagination-controls>
                <div class="col-md-6 text-right pagination-container">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show
                            <select data-ng-model="selected"//this give no. of items selected to show on page
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()"></select>//option for no. Items per page
                            entries per page
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</div>





