<head>
    <style>
        #dragandrophandler {
            border: 2px dashed #92AAB0;
            width: 650px;
            height: 200px;
            color: #92AAB0;
            text-align: center;
            vertical-align: middle;
            padding: 10px 0px 10px 10px;
            font-size: 200%;
            display: table-cell;
        }

        .progressBar {
            width: 200px;
            height: 22px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            display: inline-block;
            margin: 0px 10px 5px 5px;
            vertical-align: top;
        }

            .progressBar div {
                height: 100%;
                color: #fff;
                text-align: right;
                line-height: 22px; /* same as #progressBar height if we want text middle aligned */
                width: 0;
                background-color: #0ba1b5;
                border-radius: 3px;
            }

        .statusbar {
            border-top: 1px solid #A9CCD1;
            min-height: 25px;
            width: 700px;
            padding: 10px 10px 0px 10px;
            vertical-align: top;
        }

            .statusbar:nth-child(odd) {
                background: #EBEFF0;
            }

        .filename {
            display: inline-block;
            vertical-align: top;
            width: 250px;
        }

        .filesize {
            display: inline-block;
            vertical-align: top;
            color: #30693D;
            width: 100px;
            margin-left: 10px;
            margin-right: 5px;
        }

        .abort {
            background-color: #A8352F;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            display: inline-block;
            color: #fff;
            font-family: arial;
            font-size: 13px;
            font-weight: normal;
            padding: 4px 15px;
            cursor: pointer;
            vertical-align: top;
        }
    </style>
</head>

<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span>  Sub-sub-Category
            </strong>
        </div>
        <br />
        <div>
            <button class="btn btn-primary" ng-click="open()">
                <span class="glyphicon glyphicon-plus">
                </span> Add Warehouse Sub-Sub-Category
            </button>
            <!--<button class="btn btn-primary" ng-click="toggle()"> <span class="glyphicon glyphicon-plus"> </span>Upload Items</button>-->
            <!--<button class="btn btn-primary" ng-click="togglee()"> <span class="glyphicon glyphicon-plus"> </span>Upload Items images</button>-->

            <br />
            <br />
            <!--<div id="typography" ng-hide="uploadshow">

                <div class="well">
                    <div id="dragandrophandler">Drag &amp; Drop Files Here</div>
                    <br><br>
                    <div id="status1"></div>
                </div>

            </div>-->
            
           
        </div>
       
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                               Warehouse Category
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('WhCategoryName')"
                                  data-ng-class="{active: row == 'WhCategoryName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-WhCategoryName')"
                                  data-ng-class="{active: row == '-WhCategoryName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Warehouse Sub-Category 
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('WhSubcategoryName')"
                                  data-ng-class="{active: row == 'WhSubcategoryName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-WhSubcategoryName')"
                                  data-ng-class="{active: row == '-WhSubcategoryName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                          Warehouse Sub-Sub-Category 
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('WhSubsubcategoryName')"
                                  data-ng-class="{active: row == 'WhSubsubcategoryName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-WhSubsubcategoryName')"
                                  data-ng-class="{active: row == '-WhSubsubcategoryName'}"></span>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Created Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click="order('CreatedDate')"
                                  data-ng-class="{active: row == 'CreatedDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click="order('-CreatedDate')"
                                  data-ng-class="{active: row == '-CreatedDate'}"></span>
                        </div>
                    </th>
                   

                    <th>
                        <div class="th">
                            Edit
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Delete
                        </div>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="trade in currentPageStores">
                    <td>{{trade.WhCategoryName}}</td>
                    <td>{{trade.WhSubcategoryName}}</td>
                    <td>{{trade.WhSubsubcategoryName}}</td>
                    <td>{{trade.CreatedDate| date:'medium'}}</td>

                    <td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>
                    <td><button class="btn-sm btn-danger" ng-click="opendelete(trade)">Remove</button> </td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>

<!-- /site tiles -->
<!-- new site modal -->
<script type="text/ng-template" id="myWarehouseSubsubcategoryModal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Add Warehouse SubsubCategory </h4>

        </div>

        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            
            <div class="form-group">
                <label for="site-name">Select Item Category:</label><br />                
                <select class="form-control" id="site-name" ng-model="WhSubsubCategoryData.WhCategoryid" >
                    <option value="">---SELECT---</option>                   
                    <option value="{{Whcategory.WhCategoryid}}" ng-repeat="Whcategory in Whcategorys"> {{Whcategory.WhCategoryName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Select Item-Sub-Category:</label><br />          
                <select class="form-control" id="site-name" ng-model="WhSubsubCategoryData.WhSubCategoryId" >
                    <option value="">---SELECT---</option>
                    <option value="{{Whsubcategory.WhSubCategoryId}}" ng-repeat="Whsubcategory in Whsubcategorys |filter:{WhCategoryid:WhSubsubCategoryData.WhCategoryid}"> {{Whsubcategory.WhSubcategoryName}}</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="site-name">Warehouse SubsubCategory Name</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter  Name " ng-model="WhSubsubCategoryData.WhSubsubcategoryName" />
            </div>
           
            <!--<div class="form-group">
                <label for="site-name">Brand</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter Brand" ng-model="QuesAnsData.Item_brand" />
            </div>
            <div class="form-group">
                <label for="site-name">Warehouse-id</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter Warehouse Id" ng-model="QuesAnsData.warehouseid"/>
            </div>
            <div class="form-group">
                <label for="site-name">MRP-Price</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter MRP Price" ng-model="QuesAnsData.Item_mrp" />
            </div>
            <div class="form-group">
                <label for="site-name">Offer</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter Offer" ng-model="QuesAnsData.Item_offer"/>
            </div>
            <div class="form-group">
                <label for="site-name">Size</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter Size" ng-model="QuesAnsData.Item_size" />
            </div>
            <div class="form-group">
                <label for="site-name">Each</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter per each  " ng-model="QuesAnsData.Item_each" />
            </div>-->
            <!--<div class="form-group">
                <label for="site-name">Image</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter Image Url" ng-model="QuesAnsData.Itemimgurl" />
            </div>-->
            <!--<div class="form-group">
                <label for="uploadAdvertisements">Upload Image:</label>
                <input class="btn btn-primary" id="file" type="file" nv-file-select="" uploader="uploader" />
                <div ng-repeat="item in uploader.queue">
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-model="item.FileUrl" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                </div>
            </div>-->

           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="AddWhSubsubCategorys(WhSubsubCategoryData)">Save</button>
        </div>
    </form>
</script>



<!--Update AssetsCategory-->
<script type="text/ng-template" id="myWarehouseSubsubCategoryPut.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit Subsub Category</h4>

        </div>


        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>

            <div class="form-group">
                <label for="site-name">Select Item Category:</label><br />
                <select class="form-control" id="site-name" ng-model="WhSubsubCategoryData.WhCategoryid">
                    <option value="">---SELECT---</option>
                    <option value="{{Whcategory.WhCategoryid}}" ng-repeat="Whcategory in Whcategorys"> {{Whcategory.WhCategoryName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Select Item-Sub-Category:</label><br />
                <select class="form-control" id="site-name" ng-model="WhSubsubCategoryData.WhSubCategoryId">
                    <option value="">---SELECT---</option>
                    <option value="{{Whsubcategory.WhSubCategoryId}}" ng-repeat="Whsubcategory in Whsubcategorys |filter:{WhCategoryid:WhSubsubCategoryData.WhCategoryid}"> {{Whsubcategory.WhSubcategoryName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Warehouse SubsubCategory Name</label><br />
                <input id="site-name" type="text" class="form-control" placeholder="Enter  Name " ng-model="WhSubsubCategoryData.WhSubsubcategoryName" />
            </div>

           
           </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="PutWhSubsubCategory(WhSubsubCategoryData)">Save</button>
        </div>
    </form>
</script>


<!-- /new site modal -->

<script type="text/ng-template" id="myModaldeletWarehouseSubsubCategory.html">

    <form name="myFormTaskTypeModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete Item</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to End?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="deleteswhubsubcategory(WhSubsubCategoryData,$index)">Yes</button>
        </div>
    </form>
</script>



